# .gitignore
# Файл, что запрещает экспортировать определенные части кода


# Игнорирование локального окружения и пользовательских конфигураций IDE
.*
.idea
.venv/
*.iml


# Игнорирование директории сборки
build/
dist/


# Игнорирование временных файлов операционной системы
Thumbs.db


# Игнорирование файлов логов
*.log
*.logs


# Игнорирование всех скачанных данных логирования
BotFiles/


# Игнорирование базы данных пользователя
MySQL/user_data.db
MySQL/user_data.json

# Файл подсчета строк
project_count_line.py
